spring:
  application:
    name: sistema_gerenciamento_point_dog

  datasource:
    url: jdbc:h2:file:./dados/pointdog_db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true